body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("velho2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    
}