* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins';
font-size: 30px;
}

.kanban {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 400px;
    gap: 10px;
    padding: 10px;
}

.column {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    border-radius: 5px;
}

.item {
background-color: white;
padding: 10px;
border-radius: 5px;
}

.dragging {
opacity: 0.5;
}

.titulo{
    color: rgb(10, 21, 175);
}

h1{
    text-align: center;
}

.btn1{
    border-radius: 12px;
    border: 2px solid;
    color: rgb(5, 5, 5);
    background-color: rgb(89, 243, 0);
}

